/target
/resources
/coverage
*.db
*.db.*
*.glb
.byte
.byte-engine
.byte-editor
/assets
.scs

flamegraph.svg
*.profraw
perf.data
perf.data.old
/mutants.out
/mutants.out.old
.cargo/*
!.cargo/mutants.toml
.DS_Store
