# Directories
.vs/
.idea/

cmake-build-debug/
[Bb]in/
[Bb]in-int/
[Oo]bj
[Ii]ntermediate
.git/
.github/
[Ee]xt/
[Oo]ut/
[Bb]uild/

# Files
*.user
*.DotSettings
*.sln.DotSettings
*.DotSettings.user
*.sln.DotSettings.user
*.log
*.ifc
*.cmake